
.main {
    padding: 10px;
}

.shopnote {
    padding: 10px;
}

.item-container {
    height: 200px;
    overflow: auto;
}

.item-list {
    padding: 10px;
    display: flex;
}

.item-list-cb {
    height: 21px;
    width: 20px;
    margin-right: 5px;
}

.item-list-cb:hover {
    border-color: aqua;
}

.item-list .actions {
    margin: 0 0 0 5px;
}

.item-list .actions span {
    cursor: pointer;
    margin-right: 2px;
}

.item-list .urgent {
    float: left;
    background-color: red;
    margin: 0 5px 0 2px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.item-list .normal {
    background-color: gray;
    margin: 0 5px 0 2px;
    border-radius: 10px;
    height: 20px;
    width: 20px;
    cursor: pointer;
}

.item .input{
    border: none;
    background-color: #343a40!important;
    border-bottom: 2px solid #ebebeb;
    color: #FFFFFF;
}

.item .input.checked {
    text-decoration: line-through;
}


li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    color: #FFFFFF;
}